.gameboard {
}

.game-tiles {
    display: grid;
    grid-template-columns: repeat(14, 40px);
    grid-gap:-1px
}

.game-tile {
    height: 40px;
    width: 40px;
    margin-left:-1px;
}

.game-tile {
    border: 1px solid black;
}

.computer-tile:hover {
    background-color: rgba(0,0,0,10%);
}

.ship-tile {
    background-color: #2F80ED;
}


.hit-shot, .hit-shot:hover {
    background-color: red;
}

.missed-shot, .missed-shot:hover {
    background-color: #56CCF2;
}