.game-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content:space-between;
    max-height: 100vh;
    padding: 60px 72px;
}

.gameboard {
    display: flex;
    flex-direction: column;
}

.game-tiles {
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(14, minmax(24px, 40px));
    grid-template-rows: repeat(14, minmax(24px, 40px));
}

.game-tile {
    border: 1px solid black;
    /* aspect-ratio: 1; */
}

.computer-tile:hover {
    background-color: rgba(0,0,0,10%);
}

.ship-tile {
    background-color: #2F80ED;
}


.hit-shot, .hit-shot:hover {
    background-color: red;
}

.missed-shot, .missed-shot:hover {
    background-color: #56CCF2;
}