.gameboard {
}

.game-tiles {
    display: grid;
    grid-template-columns: repeat(14, 40px);
    grid-gap:-1px
}

.game-tile {
    height: 40px;
    width: 40px;
    margin-left:-1px;
}

.game-tile {
    border: 1px solid black;
}

.game-tile:hover {
    background-color: rgba(0,0,0,10%);
}

.ship-tile {
    background-color: #2F80ED;
}

.ship-tile:hover {
    background-color: #1E5298;
}